<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.inspire.breath">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.HrCountActivity"></activity>
        <activity
            android:name=".activities.RecommendedActionsActivity"
            android:label="@string/title_activity_recommended_actions"></activity>
        <activity android:name=".activities.PatientsActivity" />
        <activity android:name=".activities.MalariaActivity" />
        <activity android:name=".activities.ThermometerActivity" />

        <activity android:name=".activities.BreathRateActivity" />
        <activity android:name=".activities.HrRecordingActivity" />
        <activity android:name=".activities.ValidateDiarrhoeaActivity" />



        <activity android:name=".activities.Understanding_results"></activity>
        <activity android:name=".activities.SeverePneumoniaTreatment"></activity>
        <activity android:name=".activities.PneumoniaSeveritySigns" />
        <activity android:name=".activities.NonSeverePneumoniaTreatment" />
        <activity android:name=".activities.Understanding_results" />
        <activity android:name=".activities.Severe_malaria" />
        <activity
            android:name=".activities.Severe_And_Pos"
            android:label="@string/title_activity_severe__and__pos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ChildAge$Severe_AND_Pos" />
        <activity android:name=".activities.NonSevereMalariaTreatment" />
        <activity android:name=".activities.Refer_HC" />
        <activity android:name=".activities.ChildAge" />
        <activity android:name=".activities.FeverMainQ" />

        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ResetActivity" />
        <activity android:name=".activities.HomeActivity" />
    </application>

</manifest>


